@font-face {
  font-family: 'et-line';
  src: url(/resources/et-line-font/fonts/et-line.ttf);
}

:root {
  --black: #000;
  --white: #fff;
  --standarAqua: #7cf8cf;
  --borderwhite: #e2e8f0;
  --grey: #5c5e5e;
  --hoverAqua: #36bcb4;
  --greyBackground: rgba(241, 239, 239, 0.493);
  --labelColor: rgba(240, 240, 240, 0.8);
  --boxShadow: rgba(0, 0, 0, 0.05);
  --lightGrey: #6f6f6f;
  --text: 1.4rem;
  --title: 2.9rem;
  --subtitle: 1.8rem;
  --icon: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'et-line', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: var(--title);
}
p {
  font-size: var(--text);
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-title {
  font-size: var(--title);
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
/* HERO SECTION */
.principal-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.principal-image .hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.principal-image .top {
  object-fit: cover;
  animation-name: imgchange;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
.principal-image .header-container {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
.principal-image .title-page {
  font-weight: 600;
  font-size: var(--title);
  text-align: center;
  margin-bottom: 5px;
  color: var(--white);
}
.principal-image .description {
  font-weight: 400;
  font-size: var(--subtitle);
  text-align: center;
  margin-bottom: 40px;
  color: var(--white);
}
.principal-image .image-buttom {
  cursor: pointer;
  font-size: var(--text);
  margin-right: 25px;
  border-radius: 4px;
  width: 100px;
  height: 45px;
  padding: 10px 30px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--standarAqua);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
  box-sizing: border-box;
}
.principal-image .cta-learn {
  border: var(--white) 2px solid;
}
.principal-image .cta-contact {
  background-color: var(--standarAqua);
}
.cta-contact:hover {
  color: var(--standarAqua);
  background-color: var(--white);
  border-color: var(--white);
}
.cta-learn:hover {
  color: var(--standarAqua);
  background-color: var(--white);
  border-color: var(--white);
}
.header {
  border-bottom: 1px solid var(--borderwhite);
}

/* navbar */
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-header .talos {
  text-decoration: none;
  font-weight: 400;
  color: var(--grey);
  font-size: var(--title);
  font-weight: 600;
}
.talos:hover {
  color: var(--hoverAqua);
}
.menu {
  transition: all ease 0.2s;
}
.nav-container .nav-menu {
  list-style: none;
  overflow: hidden;
}
.container-header .nav-menu {
  float: left;
  display: flex;
  align-content: space-between;
  align-items: center;
}
.nav-container .nav-link {
  color: var(--grey);
  font-size: var(--subtitle);
  text-decoration: none;
  margin-right: 20px;
  padding: 10px;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--black);
}
.hamburger {
  display: none;
}
.nav-container .nav-link:hover {
  color: var(--hoverAqua);
}
.nav-menu .nav-item.active > .nav-link {
  color: var(--hoverAqua);
}
.menu-fixed {
  position: fixed;
  background: var(--white);
  z-index: 10;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 3px var(--boxShadow);
}

/* SERVICES SECTION*/
.icon-laptop,
.icon-cloud,
.icon-focus,
.icon-basket {
  font-size: var(--icon);
  display: flex;
  vertical-align: middle;
}
.top-section .top-container {
  display: flex;
  flex-direction: column;
}
.top-section .top-section {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}
.introduction-top {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: auto;
  padding: 40px;
  padding-bottom: 0;
  margin-top: 50px;
}
.top-section .top-section-container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  flex-basis: 80%;
  justify-content: space-between;
  padding: 60px;
  padding-top: 0;
  border-radius: 10px;
  margin: auto;
}
.top-section-container .content-title {
  font-size: var(--title);
  text-align: justify;
}
.content-text {
  font-size: var(--text);
  margin: 0;
  top: 50%;
  text-align: justify;
}

.content-colum1 {
  margin-right: 100px;
}
.content-colum1 .top-section-icon {
  position: relative;
  top: 30px;
  right: 60px;
}
.content-colum2 .top-section-icon {
  position: relative;
  top: 30px;
  right: 60px;
}
.description-content-brand {
  max-width: 30vw;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.description-content-focus {
  max-width: 30vw;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.description-content-cloud {
  max-width: 30vw;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.description-content-cms {
  max-width: 30vw;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
/* END SERVICES SECTION */

/* ABOUT SECTION */
.content-title {
  text-align: center;
}
.genius-studio {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 70px;
  background-color: var(--greyBackground);
}
.genius-studio-content {
  width: auto;
  height: auto;
  margin: auto;
  margin-right: 40px;
  padding: 20px;
  text-align: justify;
  overflow: hidden;
}
.frame {
  width: auto;
  height: auto;
  margin: auto;
  padding: 20px;
}
.frame .iframe-content {
  width: 500px;
  height: 350px;
}
/* END ABOUT SECTION */

/* TEAM SECTION */
.team-section .team {
  flex-direction: column;
  text-align: center;
  width: auto;
  margin: 0 auto;
  padding: 100px 0;
}
.team-section .team-top {
  max-width: 500px;
  margin: 0 auto;
}
.team-section .team-botton {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  margin-top: 50px;
  flex-basis: 80%;
  justify-content: space-between;

  padding: 30px;
  border-radius: 10px;
  margin: 0;
  margin-left: 50px;
  margin-right: 50px;
}
.team-section .team-item {
  padding: 10px;
  margin: 10px;
}
.team-image {
  width: 100%;
  height: auto;
}
.team-item .team-name {
  font-size: var(--subtitle);
  color: var(--black);
  margin-bottom: 10px;
  text-transform: uppercase;
}
.team-item .team-text {
  color: var(--black);
  text-align: center;
}
.image-labels {
  position: relative;
  background-size: contain;
  background-position: center center;
  bottom: 12.8rem;
  width: 100%;
  height: 5rem;
  background: var(--labelColor);
  z-index: -1;
}
.team-item:hover > .image-labels {
  z-index: 1;
  -webkit-animation: enable-labels 1s linear;
}
.image-icons {
  display: flex;
  padding: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
}
.image-icons .icon-link .team-icon {
  font-size: var(--title);
  border-radius: 50% 50%;
  border: none;
  text-decoration: none;
  color: var(--white);
  background-color: var(--black);
}

/* END TEAM SECTION */

/* PORTFOLIO SECTION */
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background: var(--greyBackground);
  padding-bottom: 50px;
}
.portfolio-area {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-wrap: wrap;
}
.single-portfolio {
  width: 45vh;
  height: 350px;
  margin: 20px;
  padding: 24px;
  background: var(--white);
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.6s ease-in-out;
  box-shadow: 0 10px 10px var(--boxShadow);
}
.single-portfolio:hover {
  transform: translateY(15px);
}
.single-portfolio:hover::before {
  opacity: 1;
}
.single-portfolio:hover .portfolio-text {
  opacity: 1;
  transform: translateY(0);
}
.single-portfolio::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--standarAqua), transparent);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.single-portfolio .portfolio-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.single-portfolio .portfolio-text {
  position: relative;
  z-index: 3;
  color: var(--white);
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  margin-left: 25px;
  margin-bottom: 100px;
}
.portfolio-text .illustration-name {
  margin: 0;
  margin-top: 20px;
  font-family: 'et-line', sans-serif;
  letter-spacing: 3px;
}
.portfolio-text .illustration-description {
  letter-spacing: 1px;
  font-size: var(--text);
  margin-top: 20px;
  font-family: 'et-line', sans-serif;
}
.portfolio-text .link-portfolio {
  width: 40x;
  height: 40px;
  display: flex;
  background: transparent;
  border: 1px solid transparent;
  text-decoration: none;
}
.portfolio-text .link-portfolio .portfolio-icon {
  padding: 6px 8px;
  color: var(--white);
  background: transparent;
}
/* END PORTFOLIO SECTION */

/* BLOG SECTION */
.blog-section .blog-container {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
}
.blog-section .blog-top {
  text-align: center;
  margin-bottom: 40px;
  max-width: 500px;
}
.blog-content {
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 25rem 25rem;
  grid-gap: 4rem;
  align-content: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 30px;
}
.blog-content .blog-content-items {
  border: 1px solid var(--borderwhite);
  overflow: hidden;
  margin: 0;
  border-radius: 2%;
  width: 100%;
}
.blog-content-items .items-content {
  margin-left: 4rem;
  margin-right: 4rem;
  color: var(--grey);
}
.blog-content-items .blog-image {
  position: relative;
  width: 100%;
  height: 150%;
  bottom: 20rem;
  background-size: contain;
  background-position: center center;
  z-index: -1;
  display: flex;
  visibility: hidden;
}

.blog-content-items:hover > .blog-image {
  animation: movement 4s linear infinite;
  display: block;
  visibility: visible;
}
.items-content .blog-content-title {
  font-size: var(--subtitle);
  text-align: left;
  margin-top: 40px;
}
.items-content .blog-content-description {
  font-size: var(--title);
  font-weight: 600;
  text-align: left;
  color: var(--grey);
}
.items-content .blog-content-by {
  font-size: var(--text);
  font-weight: 600;
  text-align: left;
  color: var(--lightGrey);
}
/* END BLOG SECTION */

/* QUESTION SECTION */
.question .accordion {
  flex-direction: column;
  background-color: var(--greyBackground);
}
.question .accordion-content {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  flex-basis: 80%;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
  margin: 50px 40px 40px 40px;
}
.accordion .block {
  background-color: var(--white);
  margin: 0 0 1em;
  padding: 1em;
}
.block .question-icon {
  position: relative;
  top: 30px;
  right: 45px;
}
.accordion .block-title {
  background-color: var(--white);
  color: var(--black);
  margin-left: 2em;
  margin-top: 0;
}
.accordion .block-content {
  background-color: var(--white);
  height: 0;
  padding: 0em;
  overflow: hidden;
  transition: all 0.5s;
}
.accordion .block.active .block-content {
  height: 6em;
}
/* END QUESTIOnN  SECTION */

/* TESTIMONIAL SECTION */
.container1 {
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
.testimonial-top {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin-bottom: 40px;
}
.testimonial {
  padding: 30px 30px 30px 130px;
  margin: 0 15px 30px 15px;
  overflow: hidden;
  position: relative;
}
.testimonial .picure {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 40px;
}
.testimonial .picure .testimonial-image {
  width: 70px;
  height: 70px;
}
.testimonial .description {
  font-size: var(--text);
  letter-spacing: 1px;
  color: var(--lightGrey);
  line-height: 25px;
  margin-bottom: 15px;
}
.testimonial .title {
  display: inline-block;
  font-size: var(--subtitle);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--black);
  margin: 0;
}
.testimonial .post {
  display: inline-block;
  font-size: var(--subtitle);
  color: var(--hoverAqua);
  font-style: italic;
}
.owl-theme .owl-controls .owl-page span {
  border: 2px solid var(--hoverAqua);
  background: var(--white);
  border-radius: 50%;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page:hover span {
  background: var(--hoverAqua);
  border-color: var(--hoverAqua);
}
/* END TESTIMONAIL SECTION */

/*CONTACT SECTION*/
.get-touch {
  background-color: var(--greyBackground);
}
.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}
.wrapper .section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.wrapper .wrapper-description {
  margin-bottom: 100px;
}
.contact-input:focus,
.contact-textarea:focus {
  outline: 3px solid var(--standarAqua);
}
.contact-input,
.contact-textarea,
.shoot-button {
  width: 100%;
  border: 1px solid var(--black);
  outline: var(--borderwhite) 1.5px solid;
}
.my-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-auto-flow: row dense;
  grid-gap: 0.8em;
  padding: 1.2em;
}

.my-form > .contact-input {
  grid-column: 2;
  grid-row: auto;
  width: 300px;
  padding: 1em;
  border: none;
}
.my-form .contact-textarea {
  min-height: 166px;
  width: 100%;
  border: none;
  text-align: start;
  padding: 10px;
}
.comment-box {
  grid-column: 3;
  grid-row: span 6;
}
.form-button {
  display: flex;
  margin: auto;
  justify-content: center;
}
.shoot-button {
  width: 80%;
  padding: 10px;
  background-color: var(--standarAqua);
  border: var(--standarAqua);
  text-decoration: none;
  color: var(--white);
  font-size: var(--text);
  left: 90px;
}
.my-form > .shoot-button {
  grid-column: 2 / 4;
}
/*END CONTACT SECTION*/

/* FOOTER */
.icon-facebook,
.icon-twitter,
.icon-linkedin,
.icon-tumblr,
.icon-googleplus,
.icon-dribbble {
  font-size: var(--icon);
  display: flex;
  vertical-align: middle;
  font-weight: 700;
  background-color: var(--white);
  border-radius: 40%;
  color: var(--black);
}

.footer-text {
  font-size: var(--subtitle);
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: var(--black);
  margin-bottom: 10px;
}
.footer {
  background-color: var(--white);
}
.footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 40px;
}

.footer .social-icon {
  display: flex;
  margin-bottom: 30px;
}
.footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

/* END FOOTER */

/* MEDIA QUERY */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px var(--boxShadow);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .genius-studio {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 70px;
    background-color: var(--greyBackground);
  }
  .genius-studio-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
  }
  .frame {
    height: auto;
    width: auto;
  }
  .testimonial {
    padding: 20px;
    text-align: center;
  }
  .testimonial .picure {
    display: block;
    position: static;
    margin: 0 auto 15px;
  }
}

@media only screen and (max-width: 893px) {
  .frame .iframe-content {
    width: 60vw;
    height: 20vw;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #team-section .team {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  #team-section .team-botton {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-basis: 80%;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    margin: 0;
  }
  .team .team-image {
    width: 230px;
    height: 300px;
  }

  .blog-content-items:first-child {
    grid-column: 1 / 5;
  }
  .blog-content-items:nth-child(2) {
    grid-column: 1 / 5;
  }

  .blog-content-items:nth-child(3) {
    grid-column: 1/3;
    height: 320px;
  }
  .blog-content-items:nth-child(4) {
    grid-column: 3/5;
    height: 320px;
  }
}
@media screen and (max-width: 576px) {
  .principal-image .cta-contact {
    display: none;
  }
  .top-section-container {
    margin: 50px;
    text-align: justify;
  }
  .top-content-text {
    width: 300px;
    text-align: left;
  }
  #team-section .team-botton {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    flex-basis: 80%;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    margin: 0;
    justify-items: stretch;
  }
  .team .team-image {
    max-width: 40vh;
  }
  .blog-content-items:first-child {
    grid-column: 1 / 4;
  }
  .blog-content-items:nth-child(2) {
    grid-column: 1 / 4;
  }
  .blog-content-items:nth-child(3) {
    grid-column: 1 / 4;
    width: 100%;
    height: 248px;
  }
  .blog-content-items:nth-child(4) {
    grid-column: 1 / 4;
    width: 100%;
    height: 248px;
  }
  .my-form .contact-input {
    width: 100%;
  }
  .my-form .shoot-button {
    width: 100%;
  }
  .my-form .contact-textarea {
    width: 100%;
  }
}

/* KEY FRAMES */
@keyframes imgchange {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes movement {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes enable-labels {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
